SECRET_KEY='django-insecure-5$f9%o%1w1-^^c(9zhp(jy0z7a7iln2utdez97_r$f+j^t4ft9'
FROM_EMAIL_MAIN="support@gmail.com"
EMAIL_HOST = 'mail.localhost.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = "pw123443"
EMAIL_HOST_PASSWORD = "wewe"
EMAIL_USE_TLS = True
